@charset "UTF-8";

@media screen and (min-width:1440px) {
    body{
        font-size: 16px;
    }
    main{
        display:flex;
        width: 900px;
        height: 330px;
    }
    .image{
        height: 350px;
        width: 350px;
        background: url(../images/drawers.jpg) no-repeat left -12px center/cover;
    }
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:200px ;
        width: 450px;
        padding: 0px;

    }
    .text h2{
        font-size: 25px;   
    }
    .text p{
        line-height: 25px;
    }
    .interaction{
        width: 470px;
        text-align: left;
        padding: 0px;
    }
    .interaction img{
        margin-top:6px ;
    }
    .data{
        width: 360px;
        height: 50px;
        margin-left: 20px;
    }
 
  
}   