@charset "UTF-8";
:root{
    --cor0: hsl(217, 19%, 35%);
    --cor1:hsl(214, 17%, 51%);
    --cor2:hsl(212, 23%, 69%);
    --cor3: hsl(210, 46%, 95%);
}

@media screen and (min-width:1000px) {
    body{
        font-size: 16px;
    }
    main{
        display:flex;
        width: 900px;
        height: 330px;
    }
    .image{
        height: 350px;
        width: 350px;
        background: url(../images/drawers.jpg) no-repeat left -12px center/cover;
    }
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:200px ;
        width: 450px;
        padding: 0px;
    }
    .text h2{
        font-size: 25px;   
    }
    .text p{
        line-height: 25px;
    }
    .interaction{
        width: 470px;
        text-align: left;
        padding: 0px;
        margin: 0px;
    }
    .interaction img{
        margin-top:6px ;
    }
    .data{
        width: 360px;
        height: 50px;
        margin-left: 20px;
    }
    #btn-compartilhar{
        display: grid;
        grid-template-columns: auto auto auto;
        place-items: center;
        position:absolute;
        top: 47%;
        right: calc(50% - 500px);
        width: 250px;
        height: 50px;
        margin-bottom: 100px;
        border-radius: 10px;
        transform: scale(0);
        transition: .2s;
        z-index: 1;
        background-color: var(--cor0);
    }
    #btn-compartilhar img{
        cursor: pointer;
    }
    #btn-compartilhar::after{
        content: '';
        height: 30px;
        width: 30px;
        position: absolute;
        top: 35px;
        right: 105px;
        transform: rotate(45deg);
        background-color: var(--cor0);
    }
 
  
}   