@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    --cor0: hsl(217, 19%, 35%);
    --cor1:hsl(214, 17%, 51%);
    --cor2:hsl(212, 23%, 69%);
    --cor3: hsl(210, 46%, 95%);
}
*{
    padding: 0px;
    margin: 0px;
}
html,body{

    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: var(--cor0);
    background-color: var(--cor3);
}
main{
    position: relative;
    height: 600px;
    width: 335px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
}
.image{
    height: 250px;
    width: 350px;
    background: url(../images/drawers.jpg) no-repeat center center/cover;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:200px ;
    padding: 20px;
}
.text h2{
 font-size: 18px;   
}
.interaction{
    display: grid;
    flex-direction: row;
    place-items: center;
    grid-template-columns: 50px auto auto;
    height: 80px;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 40px;
    transform: scale(1);
    transition: .3s;
    
}
.interaction2{
    position:absolute;
    top: 80%;
    display: grid;
    flex-direction: row;
    place-items: center;
    grid-template-columns: auto auto auto auto 80px ;
    height: 80px;
    width: 300px;
    padding: 20px;
    transition: .3s;
    color: white;
    transform: scale(0);
    background-color: var(--cor0);
}
.interaction2 P{
    letter-spacing: 5px;
}
.interaction img{
    width: 50px;
    border-radius: 50%;
}
.icon-share{
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: var(--cor3);
    transition: background-color 0.3s ease;
}
.icon-share2{
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: var(--cor1);
    transition: background-color 0.3s ease;
}
.icon-share:hover{
    background-color: var(--cor2);
}
.icon-share2:hover{
    background-color: var(--cor0);
}
.data{
    height: 45px;
    width:150px ;
}
.data p{
    margin-top: 5px;
}
